html {
    background-color: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.centered {
    text-align: center;
}

a {
    color: aquamarine;
    text-decoration: underline;
    display: inline-block;
    padding: 2rem;   
}



h1 {
    font-size: 3.125rem;
}