html {
    background-color: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.centered {
    text-align: center;
}

a {
    color: aquamarine;
    text-decoration: underline;
    display: inline-block;
    padding: 2rem;   
    text-size: 1rem;
}

h1 {
    font-size: 3.125rem;
}

h2 {
    font-weight: 300;
    font-size: 2.625rem;
    padding: 2rem;
}

p {
    font-size: 1.3125rem;
    color: gray;
    padding: 1rem;
}

footer {
    text-align: right;
}
